@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}






body {
  font-family: 'Poppins', sans-serif;
  background-color: #212121;
  color: white;
  font-size: 1rem;

}

a:visited {
  color: white;
}

a {
  color: white;
}



html {
  font-size: 18px;
}

.text {
  font-size: 1rem;
  color: #B0ADAD;
  margin: 0.5rem 0;
}

.title {
  font-size: 2rem;
}

.suptitle {
  font-size: 1.3rem;
  color: #4C70EF
}

.button {
  padding: 0.5rem 1rem;
  background-color: #558FFF;
  color: white;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-family: 'Poppins', sans-serif;

}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.logo__title {
  font-weight: 700;
  font-size: 1.4rem;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.nav__links {
  display: flex;
  gap: 1.5rem;
}

.header {
  background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 98vh;


}


.hero__title {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero__media {
  display: flex;
  gap: 1.5rem;

}

.hero__media-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.about__inner {
  margin-top: 7.5rem;
  display: flex;
  gap: 2.5rem;
  align-items: center;

}

.about__image {
  min-width: 22rem;
  height: 20rem;
  border: 2px solid white;
  border-bottom-right-radius: 2rem;
  position: relative;
  margin-left: 1.5rem;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
}


.what-i-do__inner {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-i-do__skills {
  display: flex;
  gap: 2rem;
}

.what-i-do__title {
  margin-bottom: 1.7rem;
}

.skill-card {
  background-color: #292C36;
  border-radius: 0.6rem;
}

.skill-card__upper {
  margin-top: 1.5rem;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  display: flex;
  align-items: center;
  max-width: 9.7rem;
  margin-bottom: 1.7rem;
}

.skill-card__title {
  margin-left: 0.5rem;
}

.skill-card__text {
  margin-bottom: 1.5rem;
  margin-inline: 1.3rem;
  margin-top: 1.7rem;
}

.skill-card__img {
  display: flex;
  align-items: center;
}


.portfolio__inner {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-card {
  background-color: #292C36;
  border-radius: 1rem;
  overflow: hidden;

}

.portfolio-card__image {
  width: 21rem;
  height: 15rem;

}

.portfolio-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.portfolio-card__content {
  padding: 1rem;
}

.portfolio__title {
  margin-bottom: 2rem;
}

.portfolio-card__title {
  margin-bottom: 0.4rem;
}


.portfolio__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}


.contact__inner {
  margin-top: 7.5rem;
}

.contact-card {
  background-color: #292C36;
  border-radius: 1rem;
  max-width: 980px;
  margin: 0 auto;
  
}

.contact-card__inner {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card__title {
  margin-bottom: 1.7rem;
  text-align: center;
}

.footer {
  margin-top: 7.5rem;
  background-color: #292C36;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}


/* Button Burger Start ------------------------------------------------------------ */

.nav__menu {
	position: absolute;
  left: -100vw;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 2;
	gap: 50px;
	transition: all 0.3s ease-in-out;
  padding: 1.5rem;
}


.button-burger-wrapper {
  display: none;

}


.button-burger {
	width: 20px;
	height: 2px;
	background: white;
  height: 3px;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
  z-index: 4;

}


.button-burger::before, .button-burger::after {
	content: '';
	position: absolute;
	width: 20px;
	height: 3.0px;
	background: white;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.button-burger::before {
	transform: translateY(-8px);
}

.button-burger::after {
	transform: translateY(8px);
}

.button-burger.open 
{
	transform: translateX(-10px);
	background: transparent;
}

.button-burger.open::before {
	transform: rotate(45deg) translate(5px, -5px);
	width: 25px;
}

.button-burger.open::after {
	transform: rotate(-45deg) translate(5px, 5px);
	width: 25px;
}

.button-burger-wrapper {
	padding: 5px;
}


/* Button Burger End ------------------------------------------------------------ */





@media screen and (max-width: 1080px) {
  html {
    font-size: 16px;
  }

  .about__inner {
    flex-direction: column-reverse;
  }
  
}


@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .what-i-do__skills {
    flex-direction: column;
  }

  .portfolio__cards {
    grid-template-columns: 1fr 1fr;
  }
  
}


@media screen and (max-width: 530px) {
  html {
    font-size: 16px;
  }

   .hero__title {
    font-size: 2.5rem;
  }

      .portfolio__cards {
    grid-template-columns: 1fr;
  }

  .button-burger-wrapper {
    display: block;
  }

  .nav__link-item {
    display: none;
  }

}

@media screen and (max-width: 380px) {
  html {
    font-size: 13px;
  }

}

